@import url('../../jquery/lionbars.css');

/* Overall properties */
html
{
    background-color: #efefef;
}
body
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-family: monospace;
}


/* Header properties */
#header
{
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Overall main properties */
#main
{
    width: 1000px;
}

/* Dropdown properties */
#dropdown
{
    width: 250px;
    height: 474px;
    background-color: #2d2d2d;
    float: left;
    line-height: 1.5em;
    color: #efefef;
}
#dropdown p
{
    margin-top: 0px;
    margin-bottom: 0px;
}
#dropdown ul
{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}
#dropdown li ul
{
    margin-left: 30px;
}
#personals_sidebar
{
    height: 30%;
    padding: 7px;
    background-color: #464646;
}
.personals_entry:hover
{
    padding: 0px 7px 0px 17px;
    margin: 0px -7px 0px -17px;
    background-color: #575757;
}
#classes_sidebar
{
    height:70%; 
    padding: 7px;
    background-color: #2d2d2d;
}
.classes_entry
{
    padding: 0px 7px 0px 17px;
    margin: 0px -7px 0px -17px;
}
.classes_entry:hover
{
    background-color: #575757;
}
.instances_entry
{
    padding: 0px 7px 0px 60px;
    margin: 0px -7px 0px -60px;
}
.instances_entry:hover
{
    background-color: #575757;
}

/* Main chat area properties */
#chatarea
{
    width: 714px;
    height: 500px;
    float: right;
    background-color: #dddddd;
}
#chatheader
{
    width: 700px;
    height: 15px;
    padding: 7px;
    color: #171717;
    background-color: #c5c5c5;
}
#messages
{
    width: 660px;
    height: 382px;
    overflow-y: scroll;
    padding-left: 27px;
    padding-right: 27px;
    background-color: #171717;
    color: #c5c5c5;
}
.messages_entry
{
    padding-top: 5px;
    padding-bottom: 5px;
}
.message_header
{
    /* Nothing for now */
}
.message_body
{
    margin-left: 20px;
}
#sendarea
{
    width: 700px;
    height: 75px;
    padding: 7px;
}
#sendarea textarea
{
    width: 550px;
    height: 75px;
    border: none;
    background-color: #ffffff;
    float: left;
    resize: none;
}
#buttonarea
{
    width: 150px;
    float: right;
}
#buttonarea input[type=submit]
{
    width: 145px;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    font-family: monospace;
    float: right;
}
#buttonarea input[type=text]
{
    width: 145px;
    height: 35px;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    font-family: monospace;
    float: right;
}


#personals_anchor
{
    overflow-y:scroll;
}

#classes_anchor
{
    overflow-y:scroll;
}

li.classes_entry
{
    overflow-x:hidden;
}
