<html>
  <head>
    <title>ZephyrPlus!</title>
    <link href="login.css" type="text/css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  </head>
  <body>
    <div id="main">
      <div id="biglogo">
	<img src="logo.png" alt="ZephyrPlus" width="897" height="441">
	<div id="loginbutton">
	  <form method="post" action="index.html">
	    <input type="submit" value="login with certificates">
	  </form>
	</div>
	<div id="abouthelp">
	  <a href="about">about</a>|<a href="help">help</a>
	</div>
      </div>
    </div>
  </body>
</html>
