<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>ZephyrPlus!</title>

    <link href="http://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">

    <link rel="icon" type="image/png" href="../static/img/zp_fav.png" />

    <link href="/static/js/jquery/jquery-ui-1.8.18.custom.css" type="text/css" rel="stylesheet" />
    <link href="/static/styles/style.css" type="text/css" rel="stylesheet" />

    <script src="/static/js/jquery/jquery-1.7.1.min.js"></script>
    <script src="/static/js/jquery/jquery-ui-1.8.18.custom.min.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/index.js"></script>

    <!--Google Analytics-------------------------------------- -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31150163-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!--Google Analytics End---------------------------------- -->

  </head>
  <body>
    <div id="header">
      <a href="/"><img src="/static/img/zp_text.png" width="183px" height="18px"/></a>
<!--      <div id="header_logo">zephyr+plus</div>-->
      <div id="site_links">
	logged in as <span id="logged_user">logged_user</span> | 
        <a class="headerlink" href="/">chat</a> |
        <a class="headerlink" href="/static/pages/about.html">about</a> |
        <a class="headerlink" href="/static/pages/help.html">help</a> |
        <a class="headerlink" id="settings_link">settings</a> |
        <!--        <a href="/settings">settings</a> |-->
        <!--        logged in as <span id="logged_user">logged_user</span> |-->
        <a class="headerlink" href="/logout">logout</a>
      </div>
    </div>
    <div id="main">
      <div id="dropdown">
<!--	<div id="personals_sidebar">
	  <p id="personals_title">personals</p>
	  <div id="personals_anchor">
	    Loading...
	  </div>
	</div>-->
	<div id="classes_sidebar">
	  <div id="classes_title">
	    <span id="classestitleheader">classes</span>
	    <a href="#" id="add_class" class="tooltip">add a class</a>
	  </div>
	  <div id="classes_anchor">
	    Loading...
	  </div>
	</div>
      </div>
      <div id="chatarea">
        <div id="chatheader">all classes</div>
        <div id="messages_scroll">
            <div id="messages">
                Loading messages ...
            </div>
            <div id="mark_read">
                <input type="button" value="Mark all as read" />
            </div>
        </div>
	<div id="sendarea">
	  <form id="chatsend" method="post" action="chat">
	    <div id="buttonarea">
	      <span id="classbuttonarea">
		<label for="classdropdown">Class:</label>
		<input type="text" name="class" id="classdropdown" tabindex="1" />
	      </span>
	      <span id="instancebuttonarea">
		<label for="instancedropdown">Instance (subject):</label>
		<input type="text" name="instance" id="instancedropdown" tabindex="2" />
	      </span>
	      <input type="submit" name="submit" id="sendzephyr" value="send" tabindex="4" />
	    </div>
	    <textarea id="messagetextarea" name="message" tabindex="3"></textarea>
	  </form>
	</div>
      </div>
    </div>
</body>
</html>
