<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ZephyrPlus!</title>
    <link href="/static/styles/login.css" type="text/css" rel="stylesheet" />

    <link rel="icon" type="image/png" href="/static/img/zp_fav.png" />

    <link href="//fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet" type="text/css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31150163-1']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    <!-- Google Analytics End -->

  </head>
  <body>
    <div id="main">
      <img id="biglogo" src="/static/img/zp_login.png" alt="ZephyrPlus" width="563" height="476">
      <div id="loginandlink">
	<div id="loginbutton">
	  <form method="get" action="/login">
	    <input type="submit" value="login with certificates">
            <input type="hidden" name="next" value="{{ next }}">
	  </form>
	</div>
	<div id="abouthelp">
	  <a id="about" href="/static/pages/about.html">about</a> | <a id="help" href="/static/pages/help.html">help</a>
	</div>
	<div id="nocertslogin">
	  <form method="get" action="/oidclogin">
	    <input type="submit" value="login without certificates">
            <input type="hidden" name="next" value="{{ next }}">
	  </form>
	</div>
      </div>
    </div>
  </body>
</html>
