body
{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Ubuntu Mono', sans-serif;
/*    background-color: #efefef*/
    background-image: url(../img/bgnoise.gif);
}



/*login page*/

#biglogo
{
    float: middle;
    margin-top: 40 px;
}
#abouthelp
{
    float: right;

}
.backImg {
    position:absolute;
    z-index:2;
}
#loginandlink{
    position:relative;
    margin-top: 40px;
}
#loginbutton
{
    position:relative;
    top:0px;
    left:0px;
    
}
#loginbutton input[type=submit]
{
    width: 580px;
    height: 80 px;
    padding: 5px;
    text-align: center;
/*    background-image: url(../img/broken_noise.png);*/
    background-image: url(../img/noise_light_gray.png);
    border:none;
    font-size:2.7em;
    cursor: pointer;
    font-family: 'Ubuntu Mono', sans-serif;
    color: #454545;
}
#loginbutton input[type=submit]:hover
{
    color: #000000;
}
#abouthelp
{
    position: relative;
    top: -70px;
    font-size:2em;
    color: #454545;
}
#abouthelp a
{
    text-decoration:none;
}
#about:hover
{
    color: #000000;
}
#help:hover
{
    color: #000000;
}
a:visited
{
    color: #454545;
}