/* Overall properties */
html
{
/*    background-color: #efefef;*/
    background-image: url(../img/bgnoise.gif);
    height: 100%;
}
body
{
    width: 1000px;
    height: 100%;
    margin-top: 0; margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /*font-family: monospace;*/
    font-family: 'Ubuntu Mono', sans-serif;
    cursor: default;
    position: relative;
}
a
{
    text-decoration: none;
}
a:visited
{
    color:#c5c5c5;
}
a:link
{
    color: #c5c5c5;
}

a:hover
{
    color:#ffffff;
}
a.tooltip span 
{
    display:none; 
/*    padding:2px 3px 30px 10px; */
    margin-left:8px; 
    width:100px;
    font-size: medium;
}

a.tooltip:hover span
{
    display:inline; 
    position:absolute; 
    margin: -1px 0px 0px -105px;
    color:#efefef;
}

/* Header properties */
#header
{
    position: absolute;
    top: 7px;
    height:25px;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1em;
    text-shadow: #ffffff 0px 1px 0px;
}

/* Overall main properties */
#main
{
    width: 1000px;
    position: absolute;    
    top: 39px;
    bottom: 7px;
}

/* Dropdown properties */
#dropdown
{
    width: 250px;
/*    height: 500px;*/
    height:100%;
/*    background-color: #2d2d2d;*/
/*    background-image: url(../img/broken_noise_light.png);*/
    background-image: url(../img/broken_noise.png);
    float: left;
    line-height: 1.5em;
    color: #efefef;
    position: relative;
}
#dropdown p
{
    margin-top: -7px;
    margin-bottom: 0px;
}
#dropdown ul
{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}
#dropdown li ul
{
    margin-left: 30px;
}
#personals_sidebar
{
    height: 30%;
    padding: 7px;
    background-color: #464646;
}
.personals_entry:hover
{
    padding: 0px 7px 0px 17px;
    margin: 0px -7px 0px -17px;
    background-color: #575757;
}
#classes_sidebar
{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    padding: 7px;
/*    background-color: #2d2d2d;*/
    text-shadow: #1c1c1c 0px 1px 0px;
}
#classes_title
{
    height: 25px;
}
#add_class
{
    float:right;
    margin: 0px 0px 0px 0px;
    padding: 0px 6px 2px 6px;
    font-weight: 400;
    font-size: 90%;
    color: #A1A1A1;
    text-shadow: #1C1C1C 0px 1px 0px;;
    cursor: default;
}
#classes_title
{
    padding: 0px 0px 2px 0px;
    cursor: pointer;
}
#add_class:hover
{
    color:#efefef;
    text-shadow: #1c1c1c 0px 1px 0px;
}
.remove_class
{
    float:right;
    margin: 0px 2px 0px 0px;
    font-weight: 700;
    font-size: 100%;
    color: #b5b5b5;
    cursor: pointer;
    display: none;
}
.remove_class:hover
{
    color:#efefef;
}
.classes_entry, #show_all_classes
{    
    padding: 0px 7px 0px 17px;
    margin: 0px -7px 0px -17px;
}
.classes_entry:hover, #show_all_classes:hover
{
    background-color: #575757;
    cursor: pointer;
}
.classes_entry:hover .remove_class
{
    display: inline;
}
.classes_entry.selected
{
    background-color: #888888;
}
.instances_entry
{
    padding: 0px 7px 0px 60px;
    margin: 0px -7px 0px -60px;
    cursor: pointer;
}
.instances_entry:hover
{
    background-color: #575757;
}
.instances_entry.selected
{
    background-color: #777777;
}
.missed_messages
{
    font-weight: bold;
}

/* Main chat area properties */
#chatarea
{
    position: relative;
    width: 714px;
/*    height: 500px;*/
    height:100%;
    float: right;
    background-color: #dddddd;

}
#chatheader
{
    width: 700px;
    height: 15px;
    padding: 7px;
    color: #171717;
/*    background-color: #c5c5c5;*/
    background-image:url(../img/noise_light_gray.png);
    text-shadow: #f4f4f4 0px 1px 0px;
}
#messages_scroll
{
    position: absolute;
    top: 29px;
    bottom: 98px;
    width: 660px;
    overflow-y: scroll;
    padding-left: 27px;
    padding-right: 27px;
/*    background-color: #171717;*/
    background-image: url(../img/broken_noise.png);
    color: #c5c5c5;
/*    text-shadow: #0f0f0f 0px 1px 0px;*/
    text-shadow: #1c1c1c 0px 1px 0px;
}
.no_messages
{
    padding-top: 1em;
    font-style: italic;
}
.messages_entry, #mark_read
{
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left:20px;
    padding-right:20px;

    margin-left:-20px;
    margin-right:-20px;
}
.messages_entry:hover, #mark_read:hover
{
/*    background-color: #575757;*/
    background-image:url(../img/noise_hover_gray.png);
}
.missed, .old_missed
{
    border-left: 1px solid #C5C5C5;
}
.message_header
{
    /* Nothing for now */
}
.message_class, .message_instance
{
    cursor: pointer;
}
.message_body
{
    padding: 0px 2px 0px 34px;
    margin: 0px -18px 0px -18px;
    font-family: inherit;
    font-size: inherit;
}
.message_timestamp
{
    display: none;
    text-align: right;
    float: right;
    font-size: small;
    color: #A1A1A1;
}
.messages_entry:hover .message_timestamp
{
    display: inline;
}
.messages_entry.cursor .message_timestamp
{
    display: inline;
    color: #808080;
}
.messages_entry.cursor:hover .message_timestamp
{
    color: #A1A1A1;
}
.messages_entry.cursor:before
{
    content: "->";
    float: left;
    margin-left: -20px;
}
/*
.message_body:hover
{
    background-color: #575757;
}*/
#mark_read{
    text-align: center;
    display: none;
}

#sendarea
{
    position: absolute;
    bottom: 0px;
    width: 700px;
    height: 88px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 7px;
    background-image:url(../img/noise_light_gray.png);
}
#sendarea textarea
{
    width: 700px;
    height: 60px;
    border: none;
    background-color: #ffffff;
    float: left;
    resize: none;
}
#buttonarea
{
    width: 700px;
    height: 25px;
    float: right;
    margin-bottom: 3px;
    text-shadow: #f4f4f4 0px 1px 0px;
}
/*
#buttonarea input[type=submit]
{
    width: 145px;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    font-family: monospace;
    float: right;
}
#buttonarea input[type=text]
{
    width: 145px;
    height: 35px;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    font-family: monospace;
    float: right;
}
*/
#classbuttonarea
{
    width: 200px;
    margin-right: 20px;
}
#classdropdown
{
    width: 150px;
}
#instancebuttonarea
{
    width: 300px;
}
#instancedropdown
{
    width: 150px;
}
#instancetext
{
    width: 150px;
}
#sendzephyr
{
    width: 50px;
    float: right;
}


#personals_anchor
{
    overflow-y:scroll;
    overflow-x:hidden;
    
}

#classes_anchor
{
    overflow-y:auto;
    overflow-x:hidden !important;
    position: absolute;
    /* 7px padding and accounting for 25px header */
    top: 32px; bottom: 7px; right: 7px; left: 7px;
}

li.classes_entry
{
    overflow-x:hidden;
}

#classdropdown
{
    border-color: #AAAAAA;
    background-color:#FFFFFF;
}
#instancedropdown
{
    border-color: #AAAAAA;
    background-color: #FFFFFF;
}
#sendzephyr
{
    background-color: #FFFFFF;
}
#header_logo
{
    float: left;
    font-size:150%;
    font-weight: 700;
}
#site_links
{
    float: right;
    color: #454545;    
}
a.headerlink
{
    color: #454545;
}
a.headerlink:hover
{
    color: #000000;
    cursor: pointer;
}


#logged_user
{
    font-weight: 700;
    color: #080808;
}


.sender
{
    color:#F6F6F6;
}
.unauth::after
{
    content: " (UNAUTH)";
    color: #FF2222;
    font-weight: bold;
}
#zp_guide
{
    border: 1px solid black;
    margin: auto;
}
#abouttext
{
    background-image: url(../img/broken_noise.png);
    color: #f7f7f7;
    text-shadow: #000000 0px 1px 0px;
    padding: 10px 35px 10px 35px;
}
#helptext
{
    background-image: url(../img/broken_noise.png);
    color: #f7f7f7;
    text-shadow: #000000 0px 1px 0px;
    padding: 10px 35px 10px 35px;
}

.ui-widget, .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
    font-family: inherit;
}
.ui-menu .ui-menu-item a
{
    line-height: normal;
    padding: inherit;
}
#keymaps td
{
    padding: 0 10px;
}

#status
{
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: 1px black solid;
    padding: 5px;
    background-color: white;
}

#templates
{
    display: none;
}
