/* Overall properties */
html
{
/*    background-color: #efefef;*/
    background-image: url(../img/bgnoise.gif);
}
body
{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
/*    font-family: monospace;*/
    font-family: 'Ubuntu Mono', sans-serif;
    cursor: default;
}

a:visited
{
    color:#454545;
}


/* Header properties */
#header
{
    margin-top: 0px;
    margin-bottom: 0px;
    height:10px;
    line-height: 1em;
    text-shadow: #ffffff 0px 1px 0px;
}

/* Overall main properties */
#main
{
    width: 1000px;
    margin-top:15px;
    height: 95%;
    margin-bottom: 0px;
}

/* Dropdown properties */
#dropdown
{
    width: 250px;
/*    height: 500px;*/
    height:100%;
/*    background-color: #2d2d2d;*/
/*    background-image: url(../img/broken_noise_light.png);*/
    background-image: url(../img/broken_noise.png);
    float: left;
    line-height: 1.5em;
    color: #efefef;
}
#dropdown p
{
    margin-top: 0px;
    margin-bottom: 0px;
}
#dropdown ul
{
    list-style: none;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 10px;
}
#dropdown li ul
{
    margin-left: 30px;
}
#personals_sidebar
{
    height: 30%;
    padding: 7px;
    background-color: #464646;
}
.personals_entry:hover
{
    padding: 0px 7px 0px 17px;
    margin: 0px -7px 0px -17px;
    background-color: #575757;
}
#classes_sidebar
{
    height:100%; 
    padding: 7px;
/*    background-color: #2d2d2d;*/
}
#add_class
{
    float:right;
    margin: -4px 4px 5px 0px;
    font-weight: 700;
    font-size: 150%;
    color: #B5B5B5;
    cursor: default;
}
#add_class:hover
{
    color:#efefef;
}
.classes_entry
{
    padding: 0px 7px 0px 17px;
    margin: 0px -7px 0px -17px;
}
.classes_entry:hover
{
    background-color: #575757;
}
.instances_entry
{
    padding: 0px 7px 0px 60px;
    margin: 0px -7px 0px -60px;
}
.instances_entry:hover
{
    background-color: #575757;
}
.missed_messages
{
    font-weight: bold;
}

/* Main chat area properties */
#chatarea
{
    position: relative;
    width: 714px;
/*    height: 500px;*/
    height:100%;
    float: right;
    background-color: #dddddd;

}
#chatheader
{
    width: 700px;
    height: 15px;
    padding: 7px;
    color: #171717;
/*    background-color: #c5c5c5;*/
    background-image:url(../img/noise_light_gray.png);
}
#messages
{
    position: absolute;
    top: 29px;
    bottom: 98px;
    width: 660px;
    overflow-y: scroll;
    padding-left: 27px;
    padding-right: 27px;
/*    background-color: #171717;*/
    background-image: url(../img/broken_noise.png);
    color: #c5c5c5;
}
.messages_entry
{
    padding-top: 5px;
    padding-bottom: 5px;

    padding-left:20px;
    padding-right:20px;

    margin-left:-20px;
    margin-right:-20px;
}
.messages_entry:hover
{
/*    background-color: #575757;*/
    background-image:url(../img/noise_hover_gray.png);
}
.message_header
{
    /* Nothing for now */
}
.message_body
{
    padding: 0px 2px 0px 34px;
    margin: 0px -18px 0px -18px;
    font-family: inherit;
    font-size: inherit;
}
/*
.message_body:hover
{
    background-color: #575757;
}*/

#sendarea
{
    position: absolute;
    bottom: 0px;
    width: 700px;
    height: 88px;
    padding-left: 7px;
    padding-right: 7px;
    padding-top: 3px;
    padding-bottom: 7px;
    background-image:url(../img/noise_light_gray.png);
}
#sendarea textarea
{
    width: 700px;
    height: 60px;
    border: none;
    background-color: #ffffff;
    float: left;
    resize: none;
}
#buttonarea
{
    width: 700px;
    height: 25px;
    float: right;
    margin-bottom: 3px;
}
/*
#buttonarea input[type=submit]
{
    width: 145px;
    height: 35px;
    padding: 5px;
    margin-bottom: 5px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    font-family: monospace;
    float: right;
}
#buttonarea input[type=text]
{
    width: 145px;
    height: 35px;
    padding: 5px;
    text-align: center;
    background-color: #ffffff;
    border: none;
    font-family: monospace;
    float: right;
}
*/

#personals_anchor
{
    overflow-y:scroll;
    overflow-x:hidden;
    
}

#classes_anchor
{
    overflow-y:auto;
    overflow-x:hidden !important;
    height: 100% !important;

}

li.classes_entry
{
    overflow-x:hidden;
}

#classdropdown
{
    border-color: #AAAAAA;
    background-color:#FFFFFF;
}
#instancedropdown
{
    border-color: #AAAAAA;
    background-color: #FFFFFF;
}
#sendzephyr
{
    background-color: #FFFFFF;
}
#header_logo
{
    float: left;
    font-size:150%;
    font-weight: 700;
}

#site_links
{
    float: right;
}

#logged_user
{
    font-weight: 700;
}

a:link
{
    color: #454545;
    text-decoration:none;
}

a:hover
{
    color:#000000;
}