body
{
    width: 850px;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    font-family: 'monospace';
    font-size: 0.8em;
}
#chat_section
{
    float: left;
    width: 596px;
    height: 696px;
    background-color: #ff0000;
    border: 2px solid #000033;
}
#chat_view
{
    width: 100%;
    height: 531px;
    background-color: #446688;
}

#chat_view .messages
{
    width: 100%;
    background-color: #223355;
    border-spacing: 0;
    font-size: inherit;
}
#chat_view .messages_headers td
{
    border-bottom: 2px solid #000033;
}
#chat_view .message_header
{
    width: 100%;
    height: 2em;
    background-color: #006699;
}
#chat_view .message_body
{
    width: 100%;
    background-color: #003366;
}
#chat_view .message_content
{
    font-size: 0.8em;
    font-family: 'monospace';
}
#chat_view .message_links
{
    width: 100%;
    background-color: #003366;
}
#chat_view .message_links td
{
    border-bottom: 2px solid #000033;
}

#chat_textbox
{
    width: 100%;
    height: 165px;
    background-color: #335577;
}
#chat_textbox_table
{
    height: 100%;
    width: 100%;
}
#chat_textbox_textarea
{
    height: 100%;
    width: 100%;
}

#class_section
{
    float: right;
    width: 196px;
    height: 696px;
    border: 2px solid #003300;
    background-color: #00ff00;
}
#class_search
{
    width: 100%;
    height: 75px;
    background-color: #009900;
}
#class_list
{
    width: 100%;
    height: 621px;
    background-color: #006600;
}
#class_list .class_list_table
{
    font-size: 1em;
    width: 100%;
    border-spacing: 0;
}
#class_list .class_list_table tr
{
    width: 100%;
}
#class_list .class_item
{
    background-color: #003300;
}
#class_list .class_item_even
{
    background-color: #004400;
}
#class_list .class_selected
{
    background-color: #0066cc;
}

.reply-button
{
    float: right;
    font-size: 0.6em;
    border-color: #333333;
    background-color: #999999;
}
.add-class-field
{
    width: 120px;
    margin: 5px;
}
.class-search-button
{
    float: right;
    margin: 5px;
}